@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: .25;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: .75;
  }

  100% {
    opacity: 1;
  }
}

.tiles-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px;

  img {
      max-height: 177px;
  }
}

img {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  object-fit: cover;
  width: 100%;
  max-height: 375px;
}