.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 14px;

  button:nth-child(1) {
      margin-right: 7px;
  }

  button:hover {
      background-color: #3f3f3f;
  }

  button {
      background-color: #373737;
      border-radius: 3.5px;
      color: #ffffff;
      font-size: 21px;
      padding: 3.5px 10.5px;
  }
}